# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
env/

# Environment variables
.env

# Firebase credentials
serviceAccountKey.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
